@model IEnumerable<WebDoCongNghe.Models.SanPham>
@{
    ViewBag.Title = "Thanhtoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@using WebDoCongNghe.Models
    @model SanPham*@
<div class="privacy py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>T</span>hanh Toán
        </h3>
        <!-- //tittle heading -->
        <div class="checkout-right">
            <h4 class="mb-sm-4 mb-3">
                Trong giỏ hàng của bạn có:
            </h4>
            <div class="table-responsive">
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Tên Sản Phẩm</th>

                            <th>Giá</th>
                            <th>Bỏ chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="rem1">
                            @foreach (var x in Model)
                            {
                                <td class="invert">1</td>
                                <td class="invert-image">
                                    <a href="chitietsp.html">
                                        <img src="@x.image_link" alt=" " class="img-responsive">
                                    </a>
                                </td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus">&nbsp;</div>
                                            <div class="entry value">
                                                <span></span>
                                            </div>
                                            <div class="entry value-plus active">&nbsp;</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="invert">@x.Ten</td>
                                <td class="invert">@x.GiaSale</td>
                                <td class="invert">
                                    <div class="rem">
                                        <div class="close1"> </div>
                                    </div>
                                </td>
                            }
                        </tr>
                        @*<tr class="rem2">
                                <td class="invert">2</td>
                                <td class="invert-image">
                                    <a href="single2.html">
                                        <img src="images/m5.jpg" alt=" " class="img-responsive">
                                    </a>
                                </td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus">&nbsp;</div>
                                            <div class="entry value">
                                                <span>1</span>
                                            </div>
                                            <div class="entry value-plus active">&nbsp;</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="invert">Loa Sony</td>
                                <td class="invert">1.500.000</td>
                                <td class="invert">
                                    <div class="rem">
                                        <div class="close2"> </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="rem3">
                                <td class="invert">3</td>
                                <td class="invert-image">
                                    <a href="chitietsp.html">
                                        <img src="images/a3.jpg" alt=" " class="img-responsive">
                                    </a>
                                </td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus">&nbsp;</div>
                                            <div class="entry value">
                                                <span>1</span>
                                            </div>
                                            <div class="entry value-plus active">&nbsp;</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="invert">Máy ảnh Nikon</td>
                                <td class="invert">16.000.000</td>
                                <td class="invert">
                                    <div class="rem">
                                        <div class="close3"> </div>
                                    </div>
                                </td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
        <div class="checkout-left">
            <div class="address_form_agile mt-sm-5 mt-4">
                <h4 class="mb-sm-4 mb-3">Điền thông tin</h4>
                <form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
                    <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                        <div class="information-wrapper">
                            <div class="first-row">
                                <div class="controls form-group">
                                    <input class="billing-address-name form-control" type="text" name="name" placeholder="Họ và tên" required="">
                                </div>
                                <div class="w3_agileits_card_number_grids">
                                    <div class="w3_agileits_card_number_grid_left form-group">
                                        <div class="controls">
                                            <input type="text" class="form-control" placeholder="Số điện thoại" name="number" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="controls form-group">
                                    <input type="text" class="form-control" placeholder="Xã(phường)/Quận(huyện)/Tỉnh(t.phố)" name="city" required="">
                                </div>
                                <div class="controls form-group">
                                    <select class="option-w3ls">
                                        <option>Chọn thời gian giao hàng</option>
                                        <option>Chỉ giao vào giờ hành chính</option>
                                        <option>Tất cả các giờ</option>
                                    </select>
                                </div>
                            </div>
                            <!--<button class="submit check_out btn">Giao tới địa chỉ này</button>-->
                        </div>
                    </div>
                    <h4 class="mb-sm-4 mb-3">Hình Thức Thanh Toán</h4>
                    <input class="ip" name="hinhthuc" type="radio" value="1" />COD<br />
                    <input class="ip" name="hinhthuc" type="radio" value="2" />Chuyển khoản<br />
                    <div class="txt_555" id="pay_1" style=" display: none; white-space:pre-line;">
                        Quý khách chuyển khoản trước theo thông tin dưới đây :

                        Công ty Cổ Phần Thương Mại Điện máy HT
                        Tầng 3, Nhà S11, Phường Cổ Nhuế 1, Quận Bắc Từ Liêm, Thành phố Hà Nội, Việt Nam
                        MST: 0108940873

                        •Vietcombank chi nhánh Hoàng QUốc Việt - 0301 000 426 596
                        •Techcombank chi nhánh Đống Đa - 1913 506 287 3012
                        •ACB chi nhánh Đông Đô (Phòng giao dịch Kim Liên) - 888 995 8888
                        •Vietinbank chi nhánh Nam Thăng Long - 119 002 805 268
                        •BIDV chi nhánh Hà Thành - 1221 000 201 8450
                    </div>
                    <input class="ip" name="hinhthuc" type="radio" value="3" />PayPal<br />
                    <br />
                    <button class="submit check_out btn">Giao Hàng</button>
                </form>
                <!--<div class="checkout-right-basket">
                    <a href="payment.html">
                        Thanh toán
                        <span class="far fa-hand-point-right"></span>
                    </a>
                </div>-->
            </div>
        </div>
    </div>
</div>

